:root {
  --background-color: #150b83c1;
  --text-color: #fff;
  --btn-hover: #4136bcc1;
  --testing: rgba(216, 220, 223, 0.757);
  --nav-bar: linear-gradient(90deg, rgba(222, 218, 237, 0.95), rgba(41, 18, 136, 0.76));
}
