.allproperty-card-content {
  margin-top: 12px;
  display: flex;
  gap: 10px;
  scroll-behavior: smooth;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.allproperty-card-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.allproperty-card-container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Center the container */
}

/* Navigation Dots */
.navigation-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active,
.dot:hover {
  background-color: #150b83c1;
}


/* Responsive Adjustments */
@media (max-width: 1070px) {
  .allproperty-card-container {
    max-width: 900px;
  }
  .property-card{
    width: 32% !important;
  }
  .allproperty-card-content {
    gap: 15px;
  }
}

@media (max-width: 860px){
  .allproperty-card-container {
    max-width: 700px;
  }
  .property-card{
    width: 48% !important;
   
  }
  .allproperty-card-content {
    gap: 20px;
  }
}



@media (max-width: 720px) {
  .allproperty-card-container {
    max-width: 600px !important;
  }

  .allproperty-card-content {
    gap: 15px;
    overflow-x: auto; 
  }

  .navigation-dots {
    gap: 6px;
  }
}

@media (max-width: 580px) {
  .allproperty-card-container {
    max-width:310px !important;
  
  }
  .property-card{
    width: 100% !important;
  
  }

  .allproperty-card-content {
    gap: 25px;
  }

  .navigation-dots {
    gap: 4px;
  }
}