@media (max-width: 840px){
  .property-card-container{
    margin-top: 10px;
    max-width:100%;
    padding: 0% !important;
    margin-left:-20px !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    
    }
    .property-heading-box {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .property-card-box{
      max-width:580px !important ;
    }
}

@media (max-width: 768px) {
  
  .property-card-box{
   max-width:300px !important;
   margin: 0% !important;
  }
 

}
