@media (max-width: 840px){
  .property-card-container{
    margin-top: 10px;
    max-width:100%;
    padding: 0% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    }
    .property-heading-box {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .property-card-box{
      max-width:580px !important ;
      margin: 0% !important;
    }
}

@media (max-width: 768px) {
  
  .property-card-box{
   max-width:300px !important;
   margin: 0% !important;
   padding: 0% !important;
 
   
  }
  .card{
    width: 295px !important;
    margin: 2px !important;
    box-shadow: 0 10px 10px -1px rgb(0 0 0 / 0.3)
  }
 

}
