.hero-section {
    width: 100%;
    margin-top: 79px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Prevents overflow from pseudo-element */
}
.slider-container {
  display: flex;
  width: 100vw; 
  object-fit: contain;
  

  img {
    width: 100%;
    height: 80vh;
    object-fit:cover;
    flex-shrink: 0;
  }
}



.apartment-cards{
  width: 100% !important;
  margin-left: -20px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advicetool-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 850px){
  .hero-section {
    margin-top:75px !important; 
   
  }
  .slider-container{
    img {
      width: 100%;
      object-fit: cover;

    }
  }
  .motion-div{
    position: absolute;
    top:20% !important;
  }

}
@media (max-width: 768px) {
  .hero-section {
    margin-top:56px !important; 
 
  }
  .motion-div{
    position: absolute;
    top:7% !important;
  }
  

  .hero-section::before {
    filter: blur(1px); 
  }
  .slider-container{
    img {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .hero-section {
    margin-top: 56px !important; 
  }

  .hero-section::before {
    filter: blur(0.5px); 
  }
  .apartment-cards{
    width: 100%;
    justify-content: center;
    align-items: center;

  }
  .motion-div{
    position: absolute;
    top:4% !important;
  }
  .slider-container{
    img {
      width: 100%;
 
    }
  }
}
 