@use '../varaibles/Varaibles' as *;


.app-bar{
    background: var( --nav-bar) !important;
}

// .app-bar {
//     background: linear-gradient(
//       to bottom,
//       var(--background-color),
//       var(--background-color)
//     ), white !important; 
//   }
.nav-signin-btn{
    background: var( --text-color) !important;
    width: 90px !important;
    border-radius: 30px !important;
    text-transform: none !important;
    color: var(--background-color) !important;
}

@media (max-width: 780px){
    .nav-img{
       width: 100px !important;
       height: 40px !important;
    }
}
